<div class="container-fluid list-page">
  <div class="row">
    <div class="col-md-3">
      <app-search-ship-form [searchFilters]="searchFilters"></app-search-ship-form>
    </div>
    <div class="col-md-9">
      <p-dataList *ngIf="!loading" [value]="spaceships">

        <p-header>
          List of Spaceships
        </p-header>
        <ng-template let-ship pTemplate="item">
          <div class="ui-g ui-fluid ship-item" (click)="onRowClick(ship.id)">
            <div class="ui-g-12 ui-md-3 text-center">
              <img src="{{ship.mainImageUrl}}" class="main-img">
            </div>
            <div class="ui-g-12 ui-md-9 ship-details">
              <div class="ui-g-4">
                <div class="ui-g-2"><i class="fa fa-space-shuttle" aria-hidden="true"></i></div>
                <div class="ui-g-10">{{ship.name}}</div>

                <div class="ui-g-2"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                <div class="ui-g-10">{{ship.type}}</div>

                <div class="ui-g-2"><i class="fa fa-users" aria-hidden="true"></i> </div>
                <div class="ui-g-10">{{ship.capacity}}</div>

              </div>
              <div class="ui-g-8">
                {{ship.shortDescription}}
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataList>
    </div>
  </div>
</div>
