<form [formGroup] = "searchFilters">

  <p-autoComplete formControlName="pickUpStation" [suggestions]="filteredStations" styleClass="search-form-control"
                  (completeMethod)="filterStations($event)" field="planet" placeholder="Type planet name"
                  [dropdown]="true" [required]="true">
  </p-autoComplete>

  <p-checkbox label="Return at another station" (click)="dropOffAnotherStation=!dropOffAnotherStation" [value]="dropOffAnotherStation"></p-checkbox>

  <p-autoComplete *ngIf="dropOffAnotherStation" formControlName="dropOffStation" [suggestions]="filteredStations"
                  (completeMethod)="filterStations($event)" field="planet" styleClass="search-form-control"
                  placeholder="Type planet name" [dropdown]="true">
  </p-autoComplete>

  <div class="row">
    <div class="col-md-6">
      <span class="search-form-control input-label">Reserve from</span>
      <p-inputMask formControlName="reserveFrom" mask="99/99/9999"  placeholder="mm/dd/yyyy"
                   slotChar="mm/dd/yyyy" styleClass="search-form-control" required></p-inputMask>
    </div>
    <div class="col-md-6">
      <span class="search-form-control input-label">Reserve to</span>
      <p-inputMask formControlName="reserveTo" mask="99/99/9999"  placeholder="mm/dd/yyyy"
                   styleClass="search-form-control" slotChar="mm/dd/yyyy" required=""></p-inputMask>
    </div>
  </div>
  <div *ngIf="showFilters">

    <p-dropdown formControlName="type" [options]="typeOptions" styleClass="search-form-control"
                [style]="{'width':'100%'}" placeholder="Ship type"></p-dropdown>
    <p-dropdown formControlName="capacity" [options]="capacityOptions" styleClass="search-form-control"
                [style]="{'width':'100%'}" placeholder="Ship capacity"></p-dropdown>
    <div class="ui-g-12"><p-checkbox formControlName="androidPilot" label="Android pilot on board" binary="true"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox formControlName="longTrip" label="Dedicated for long trips" binary="true"></p-checkbox></div>
  </div>
  <button pButton type="button" (click)="showFilters=!showFilters" label="Show {{showFilters?'less':'more'}} filters" class="ui-button-secondary"></button>
  <button pButton type="submit" (click)="findRent();submitClick()" label="Find" class="pull-right" [disabled]="!searchFilters.valid"></button>
</form>


